<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE">Chain of Memories</title>
<link
  href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
  th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"
  media="screen" />
<link href="css/master.less" th:href="@{css/master.less}" rel="stylesheet"
  media="screen" />
</head>
<body>
  <div th:replace="layouts/_partials :: nav"></div>

  <div id="main" class="container" layout:fragment="content"></div>

  <div th:replace="layouts/_partials :: footer"></div>

  <script src="http://cdn.jsdelivr.net/webjars/jquery/1.12.4/jquery.min.js"
    th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/less/2.5.3/less.min.js"
    th:src="@{/webjars/less/2.5.3/less.min.js}"></script>
  <script
    src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
    th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/react/15.1.0/react.min.js"
    th:src="@{/webjars/react/15.1.0/react.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/react/15.1.0/react-dom.min.js"
    th:src="@{/webjars/react/15.1.0/react-dom.min.js}"></script>
</body>
</html>