<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/default">
<head>
<title></title>
</head>
<body>
  <div layout:fragment="content">
    <div id="react" th:attr="data-journal-id=${id}"></div>
    <script type="text/babel" src="#" th:src="@{/js/journals.js}"></script>
    <script type="text/babel">
      renderJournalEntry(document.getElementById('react').dataset.journalId);
    </script>
  </div>
</body>
</html>