<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title>Changelog</title>
</head>
<body>
<div layout:fragment="content">
    <h2>July 7, 2016</h2>
    <ul>
        <li>Ported the entire website to Java using Spring Framework and ReactJS</li>
        <li>Re-made database structure</li>
        <li>Several design/CSS changes (Dark Royal Blue)</li>
        <li>Improved mobile support</li>
    </ul>

    <h2>September 7, 2015</h2>
    <ul>
        <li>Both of us can now properly post our own journal entries</li>
        <li>De-coupled the Backend with the Frontend in preparation
            for Mobile App :)
        </li>
        <li>Cleaned most parts of the codes</li>
        <li>Re-made database structure</li>
        <li>Temporarily removed [Messages] module in preparation for
            a new feature
        </li>
        <li>Several design/CSS changes</li>
    </ul>

    <h2>November 26, 2014</h2>
    <ul>
        <li>Finished migrating the entire website using Laravel
            Framework
        </li>
        <li>Re-designed most UI elements using Bootstrap</li>
        <li>Optimized database structure</li>
        <li>Overall improvements versus the old website</li>
    </ul>

    <h2>August 25, 2014</h2>
    <ul>
        <li>Added new video on homepage: Memory Lane</li>
        <li>Added <a href="#" th:href="@{/changelogs}">Changelogs</a>
            for site updates
        </li>
        <li>Added Outline of Significant Event on <a href="#" th:href="@{/journals}">Journals
            Page</a></li>
        <li>Updated exported journal entry to include Special Events
            at the end
        </li>
    </ul>

    <h2>June 7, 2014</h2>
    <ul>
        <li>Published this site as <a href="/">http://chainofmemories.sytes.net</a></li>
    </ul>
</div>
</body>
</html>
